In [1]:
import pandas as pd
import sqlite3

In [2]:
# creating database connection
conn = sqlite3.connect('inventory.db')

In [3]:
#checking tables present in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'",conn)
tables

              name
0   vendor_invoice
1  begin_inventory
2    end_inventory
3        purchases
4  purchase_prices
5            sales

In [30]:
for table in tables['name']:
    print('-'*50, f'{table}','-'*50)
    print('count of records:', pd.read_sql(f"select count(*) as count from {table}", conn)['count'].values[0])
    display(pd.read_sql(f"select * from {table} limit 100", conn))

-------------------------------------------------- vendor_invoice --------------------------------------------------
count of records: 100

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Rupees,Freight,Approval
0,1001,Nestle Suppliers,2025-03-05,PO1001,2025-03-01,2025-03-10,50,1242.5,124.25,Approved
1,1001,Nestle Suppliers,2025-06-19,PO1002,2025-06-15,2025-06-24,30,1350.0,135.00,Pending
2,1002,Haldirams Distributors,2025-05-04,PO1003,2025-04-30,2025-05-09,100,11528.0,1152.80,Approved
3,1001,Nestle Suppliers,2025-04-04,PO1004,2025-03-30,2025-04-09,20,2107.8,210.78,Pending
4,1003,Britannia Vendors,2025-03-25,PO1005,2025-03-20,2025-03-30,40,3802.0,380.20,Approved
...,...,...,...,...,...,...,...,...,...,...
95,1003,Britannia Vendors,2025-05-26,PO1096,2025-05-22,2025-05-31,50,2939.0,293.90,Approved
96,1002,Haldirams Distributors,2025-03-30,PO1097,2025-03-26,2025-04-04,90,16960.5,1696.05,Approved
97,1004,Amul Wholesale,2025-01-17,PO1098,2025-01-13,2025-01-22,20,577.6,57.76,Pending
98,1002,Haldirams Distributors,2025-01-15,PO1099,2025-01-11,2025-01-20,70,10068.1,1006.81,Approved
99,1002,Haldirams Distributors,2025-06-30,PO1100,2025-06-26,2025-07-05,60,1012.8,101.28,Approved

-------------------------------------------------- begin_inventory --------------------------------------------------
count of records: 100

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,Startdate
0,1,SuperMart,Delhi,Nestle,Butter 500g,500g,128,31.06,2025-03-03
1,2,DailyNeeds,Delhi,Nestle,Noodles 100g,100g,72,56.25,2025-06-17
2,3,SuperMart,Mumbai,Haldirams,Noodles 1kg,1kg,422,153.71,2025-05-02
3,4,MegaStore,Delhi,Nestle,Noodles 1L,1L,39,131.74,2025-04-02
4,5,SuperMart,Bangalore,Britannia,Salt 200g,200g,167,118.81,2025-03-23
...,...,...,...,...,...,...,...,...,...
95,96,FreshBazaar,Kolkata,Britannia,Biscuits 1kg,1kg,168,73.48,2025-05-24
96,97,SuperMart,Bangalore,Haldirams,Tea 100g,100g,464,251.26,2025-03-28
97,98,MegaStore,Kolkata,Amul,Coffee 100g,100g,59,38.51,2025-01-15
98,99,FreshBazaar,Kolkata,Haldirams,Chips 100g,100g,313,191.77,2025-01-13
99,100,GrociKart,Kolkata,Haldirams,Coffee 500g,500g,256,22.51,2025-06-28

-------------------------------------------------- end_inventory --------------------------------------------------
count of records: 100

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,Enddate
0,1,FreshBazaar,Hyderabad,Amul,Butter 1L,1L,216,292.56,2025-06-13
1,2,FreshBazaar,Mumbai,Britannia,Butter 200g,200g,185,60.61,2025-06-30
2,3,FreshBazaar,Mumbai,Britannia,Tea 250ml,250ml,472,42.13,2025-05-28
3,4,DailyNeeds,Delhi,Nestle,Tea 200g,200g,113,277.26,2025-06-09
4,5,DailyNeeds,Delhi,Amul,Tea 500g,500g,391,190.79,2025-06-19
...,...,...,...,...,...,...,...,...,...
95,96,DailyNeeds,Bangalore,Nestle,Chips 200g,200g,322,275.31,2025-04-03
96,97,DailyNeeds,Delhi,Tata,Noodles 1L,1L,392,256.80,2025-05-29
97,98,FreshBazaar,Hyderabad,Haldirams,Coffee 250ml,250ml,7,254.15,2025-03-25
98,99,SuperMart,Delhi,Haldirams,Butter 100g,100g,447,60.28,2025-05-28
99,100,FreshBazaar,Hyderabad,Nestle,Salt 250ml,250ml,270,89.90,2025-05-18

-------------------------------------------------- purchases --------------------------------------------------
count of records: 100

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Rupees,Classification
0,1,SuperMart,Nestle,Butter 500g,500g,1001,Nestle Suppliers,PO1001,2025-03-01,2025-03-03,2025-03-05,2025-03-10,24.85,50,1242.5,Standard
1,2,DailyNeeds,Nestle,Noodles 100g,100g,1001,Nestle Suppliers,PO1002,2025-06-15,2025-06-17,2025-06-19,2025-06-24,45.00,30,1350.0,Standard
2,3,SuperMart,Haldirams,Noodles 1kg,1kg,1002,Haldirams Distributors,PO1003,2025-04-30,2025-05-02,2025-05-04,2025-05-09,115.28,100,11528.0,Premium
3,4,MegaStore,Nestle,Noodles 1L,1L,1001,Nestle Suppliers,PO1004,2025-03-30,2025-04-02,2025-04-04,2025-04-09,105.39,20,2107.8,Standard
4,5,SuperMart,Britannia,Salt 200g,200g,1003,Britannia Vendors,PO1005,2025-03-20,2025-03-23,2025-03-25,2025-03-30,95.05,40,3802.0,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,FreshBazaar,Britannia,Biscuits 1kg,1kg,1003,Britannia Vendors,PO1096,2025-05-22,2025-05-24,2025-05-26,2025-05-31,58.78,50,2939.0,Standard
96,97,SuperMart,Haldirams,Tea 100g,100g,1002,Haldirams Distributors,PO1097,2025-03-26,2025-03-28,2025-03-30,2025-04-04,188.45,90,16960.5,Premium
97,98,MegaStore,Amul,Coffee 100g,100g,1004,Amul Wholesale,PO1098,2025-01-13,2025-01-15,2025-01-17,2025-01-22,28.88,20,577.6,Premium
98,99,FreshBazaar,Haldirams,Chips 100g,100g,1002,Haldirams Distributors,PO1099,2025-01-11,2025-01-13,2025-01-15,2025-01-20,143.83,70,10068.1,Premium
99,100,GrociKart,Haldirams,Coffee 500g,500g,1002,Haldirams Distributors,PO1100,2025-06-26,2025-06-28,2025-06-30,2025-07-05,16.88,60,1012.8,Premium

-------------------------------------------------- purchase_prices --------------------------------------------------
count of records: 100

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,Nestle,Butter 500g,31.06,500g,500,Standard,24.85,1001,Nestle Suppliers
1,Nestle,Noodles 100g,56.25,100g,100,Standard,45.00,1001,Nestle Suppliers
2,Haldirams,Noodles 1kg,153.71,1kg,1000,Premium,115.28,1002,Haldirams Distributors
3,Nestle,Noodles 1L,131.74,1L,1000,Standard,105.39,1001,Nestle Suppliers
4,Britannia,Salt 200g,118.81,200g,200,Standard,95.05,1003,Britannia Vendors
...,...,...,...,...,...,...,...,...,...
95,Britannia,Biscuits 1kg,73.48,1kg,1000,Standard,58.78,1003,Britannia Vendors
96,Haldirams,Tea 100g,251.26,100g,100,Premium,188.45,1002,Haldirams Distributors
97,Amul,Coffee 100g,38.51,100g,100,Premium,28.88,1004,Amul Wholesale
98,Haldirams,Chips 100g,191.77,100g,100,Premium,143.83,1002,Haldirams Distributors
99,Haldirams,Coffee 500g,22.51,500g,500,Premium,16.88,1002,Haldirams Distributors

-------------------------------------------------- sales --------------------------------------------------
count of records: 100

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesRupees,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNumber,VendorName
0,1,SuperMart,Nestle,Butter 500g,500g,50,1553.0,31.06,2025-03-05,500,Standard,155.30,1001,Nestle Suppliers
1,2,DailyNeeds,Nestle,Noodles 100g,100g,30,1687.5,56.25,2025-06-19,100,Standard,168.75,1001,Nestle Suppliers
2,3,SuperMart,Haldirams,Noodles 1kg,1kg,100,15371.0,153.71,2025-05-04,1000,Premium,1537.10,1002,Haldirams Distributors
3,4,MegaStore,Nestle,Noodles 1L,1L,20,2634.8,131.74,2025-04-04,1000,Standard,263.48,1001,Nestle Suppliers
4,5,SuperMart,Britannia,Salt 200g,200g,40,4752.4,118.81,2025-03-25,200,Standard,475.24,1003,Britannia Vendors
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,FreshBazaar,Britannia,Biscuits 1kg,1kg,50,3674.0,73.48,2025-05-26,1000,Standard,367.40,1003,Britannia Vendors
96,97,SuperMart,Haldirams,Tea 100g,100g,90,22613.4,251.26,2025-03-30,100,Premium,2261.34,1002,Haldirams Distributors
97,98,MegaStore,Amul,Coffee 100g,100g,20,770.2,38.51,2025-01-17,100,Premium,77.02,1004,Amul Wholesale
98,99,FreshBazaar,Haldirams,Chips 100g,100g,70,13423.9,191.77,2025-01-15,100,Premium,1342.39,1002,Haldirams Distributors
99,100,GrociKart,Haldirams,Coffee 500g,500g,60,1350.6,22.51,2025-06-30,500,Premium,135.06,1002,Haldirams Distributors

In [5]:
purchases =pd.read_sql_query("select * from purchases where VendorNumber = 1002", conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Rupees,Classification
0,3,SuperMart,Haldirams,Noodles 1kg,1kg,1002,Haldirams Distributors,PO1003,2025-04-30,2025-05-02,2025-05-04,2025-05-09,115.28,100,11528.00,Premium
1,6,GrociKart,Haldirams,Butter 100g,100g,1002,Haldirams Distributors,PO1006,2025-03-12,2025-03-14,2025-03-16,2025-03-21,23.68,25,592.00,Premium
2,20,FreshBazaar,Haldirams,Biscuits 500g,500g,1002,Haldirams Distributors,PO1020,2025-06-01,2025-06-03,2025-06-05,2025-06-10,206.72,50,10336.00,Premium
3,30,GrociKart,Haldirams,Biscuits 100g,100g,1002,Haldirams Distributors,PO1030,2025-02-17,2025-02-19,2025-02-21,2025-02-26,216.47,50,10823.50,Premium
4,31,FreshBazaar,Haldirams,Tea 1L,1L,1002,Haldirams Distributors,PO1031,2025-04-30,2025-05-02,2025-05-04,2025-05-09,91.39,40,3655.60,Premium
5,33,GrociKart,Haldirams,Chips 100g,100g,1002,Haldirams Distributors,PO1033,2025-03-16,2025-03-18,2025-03-20,2025-03-25,193.74,30,5812.20,Premium
6,34,GrociKart,Haldirams,Tea 500g,500g,1002,Haldirams Distributors,PO1034,2025-05-30,2025-06-02,2025-06-04,2025-06-09,97.33,40,3893.20,Premium
7,35,DailyNeeds,Haldirams,Coffee 200g,200g,1002,Haldirams Distributors,PO1035,2025-06-01,2025-06-03,2025-06-05,2025-06-10,126.02,20,2520.40,Premium
8,37,FreshBazaar,Haldirams,Butter 500g,500g,1002,Haldirams Distributors,PO1037,2025-03-20,2025-03-22,2025-03-24,2025-03-29,51.92,40,2076.80,Premium
9,41,GrociKart,Haldirams,Butter 1kg,1kg,1002,Haldirams Distributors,PO1041,2025-06-23,2025-06-25,2025-06-27,2025-07-02,52.46,80,4196.80,Premium
10,43,FreshBazaar,Haldirams,Milk 250ml,250ml,1002,Haldirams Distributors,PO1043,2025-04-28,2025-04-30,2025-05-02,2025-05-07,44.29,90,3986.10,Premium
11,58,FreshBazaar,Haldirams,Coffee 100g,100g,1002,Haldirams Distributors,PO1058,2025-02-04,2025-02-06,2025-02-08,2025-02-13,154.73,20,3094.60,Premium
12,60,GrociKart,Haldirams,Butter 100g,100g,1002,Haldirams Distributors,PO1060,2025-04-17,2025-04-19,2025-04-21,2025-04-26,58.02,30,1740.60,Premium
13,64,SuperMart,Haldirams,Coffee 1kg,1kg,1002,Haldirams Distributors,PO1064,2025-04-27,2025-04-29,2025-05-01,2025-05-06,125.68,80,10054.40,Premium
14,68,DailyNeeds,Haldirams,Salt 1kg,1kg,1002,Haldirams Distributors,PO1068,2025-03-02,2025-03-04,2025-03-06,2025-03-11,36.16,80,2892.80,Premium
15,69,FreshBazaar,Haldirams,Milk 1kg,1kg,1002,Haldirams Distributors,PO1069,2025-01-10,2025-01-12,2025-01-14,2025-01-19,160.83,70,11258.10,Premium
16,71,GrociKart,Haldirams,Tea 1L,1L,1002,Haldirams Distributors,PO1071,2025-03-11,2025-03-13,2025-03-15,2025-03-20,154.07,80,12325.60,Premium
17,77,SuperMart,Haldirams,Milk 500g,500g,1002,Haldirams Distributors,PO1077,2025-04-15,2025-04-17,2025-04-19,2025-04-24,33.21,15,498.15,Premium
18,79,MegaStore,Haldirams,Coffee 1L,1L,1002,Haldirams Distributors,PO1079,2025-04-25,2025-04-27,2025-04-29,2025-05-04,12.50,100,1250.00,Premium
19,80,DailyNeeds,Haldirams,Tea 500g,500g,1002,Haldirams Distributors,PO1080,2025-03-09,2025-03-11,2025-03-13,2025-03-18,85.98,50,4299.00,Premium
20,92,MegaStore,Haldirams,Coffee 250ml,250ml,1002,Haldirams Distributors,PO1092,2025-03-01,2025-03-03,2025-03-05,2025-03-10,147.29,80,11783.20,Premium
21,93,SuperMart,Haldirams,Milk 1kg,1kg,1002,Haldirams Distributors,PO1093,2025-01-26,2025-01-28,2025-01-30,2025-02-04,213.82,60,12829.20,Premium
22,97,SuperMart,Haldirams,Tea 100g,100g,1002,Haldirams Distributors,PO1097,2025-03-26,2025-03-28,2025-03-30,2025-04-04,188.45,90,16960.50,Premium
23,99,FreshBazaar,Haldirams,Chips 100g,100g,1002,Haldirams Distributors,PO1099,2025-01-11,2025-01-13,2025-01-15,2025-01-20,143.83,70,10068.10,Premium
24,100,GrociKart,Haldirams,Coffee 500g,500g,1002,Haldirams Distributors,PO1100,2025-06-26,2025-06-28,2025-06-30,2025-07-05,16.88,60,1012.80,Premium

In [6]:
purchase_prices = pd.read_sql_query("""select * from purchases where VendorNumber = 1002""", conn)
purchase_prices

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Rupees,Classification
0,3,SuperMart,Haldirams,Noodles 1kg,1kg,1002,Haldirams Distributors,PO1003,2025-04-30,2025-05-02,2025-05-04,2025-05-09,115.28,100,11528.00,Premium
1,6,GrociKart,Haldirams,Butter 100g,100g,1002,Haldirams Distributors,PO1006,2025-03-12,2025-03-14,2025-03-16,2025-03-21,23.68,25,592.00,Premium
2,20,FreshBazaar,Haldirams,Biscuits 500g,500g,1002,Haldirams Distributors,PO1020,2025-06-01,2025-06-03,2025-06-05,2025-06-10,206.72,50,10336.00,Premium
3,30,GrociKart,Haldirams,Biscuits 100g,100g,1002,Haldirams Distributors,PO1030,2025-02-17,2025-02-19,2025-02-21,2025-02-26,216.47,50,10823.50,Premium
4,31,FreshBazaar,Haldirams,Tea 1L,1L,1002,Haldirams Distributors,PO1031,2025-04-30,2025-05-02,2025-05-04,2025-05-09,91.39,40,3655.60,Premium
5,33,GrociKart,Haldirams,Chips 100g,100g,1002,Haldirams Distributors,PO1033,2025-03-16,2025-03-18,2025-03-20,2025-03-25,193.74,30,5812.20,Premium
6,34,GrociKart,Haldirams,Tea 500g,500g,1002,Haldirams Distributors,PO1034,2025-05-30,2025-06-02,2025-06-04,2025-06-09,97.33,40,3893.20,Premium
7,35,DailyNeeds,Haldirams,Coffee 200g,200g,1002,Haldirams Distributors,PO1035,2025-06-01,2025-06-03,2025-06-05,2025-06-10,126.02,20,2520.40,Premium
8,37,FreshBazaar,Haldirams,Butter 500g,500g,1002,Haldirams Distributors,PO1037,2025-03-20,2025-03-22,2025-03-24,2025-03-29,51.92,40,2076.80,Premium
9,41,GrociKart,Haldirams,Butter 1kg,1kg,1002,Haldirams Distributors,PO1041,2025-06-23,2025-06-25,2025-06-27,2025-07-02,52.46,80,4196.80,Premium
10,43,FreshBazaar,Haldirams,Milk 250ml,250ml,1002,Haldirams Distributors,PO1043,2025-04-28,2025-04-30,2025-05-02,2025-05-07,44.29,90,3986.10,Premium
11,58,FreshBazaar,Haldirams,Coffee 100g,100g,1002,Haldirams Distributors,PO1058,2025-02-04,2025-02-06,2025-02-08,2025-02-13,154.73,20,3094.60,Premium
12,60,GrociKart,Haldirams,Butter 100g,100g,1002,Haldirams Distributors,PO1060,2025-04-17,2025-04-19,2025-04-21,2025-04-26,58.02,30,1740.60,Premium
13,64,SuperMart,Haldirams,Coffee 1kg,1kg,1002,Haldirams Distributors,PO1064,2025-04-27,2025-04-29,2025-05-01,2025-05-06,125.68,80,10054.40,Premium
14,68,DailyNeeds,Haldirams,Salt 1kg,1kg,1002,Haldirams Distributors,PO1068,2025-03-02,2025-03-04,2025-03-06,2025-03-11,36.16,80,2892.80,Premium
15,69,FreshBazaar,Haldirams,Milk 1kg,1kg,1002,Haldirams Distributors,PO1069,2025-01-10,2025-01-12,2025-01-14,2025-01-19,160.83,70,11258.10,Premium
16,71,GrociKart,Haldirams,Tea 1L,1L,1002,Haldirams Distributors,PO1071,2025-03-11,2025-03-13,2025-03-15,2025-03-20,154.07,80,12325.60,Premium
17,77,SuperMart,Haldirams,Milk 500g,500g,1002,Haldirams Distributors,PO1077,2025-04-15,2025-04-17,2025-04-19,2025-04-24,33.21,15,498.15,Premium
18,79,MegaStore,Haldirams,Coffee 1L,1L,1002,Haldirams Distributors,PO1079,2025-04-25,2025-04-27,2025-04-29,2025-05-04,12.50,100,1250.00,Premium
19,80,DailyNeeds,Haldirams,Tea 500g,500g,1002,Haldirams Distributors,PO1080,2025-03-09,2025-03-11,2025-03-13,2025-03-18,85.98,50,4299.00,Premium
20,92,MegaStore,Haldirams,Coffee 250ml,250ml,1002,Haldirams Distributors,PO1092,2025-03-01,2025-03-03,2025-03-05,2025-03-10,147.29,80,11783.20,Premium
21,93,SuperMart,Haldirams,Milk 1kg,1kg,1002,Haldirams Distributors,PO1093,2025-01-26,2025-01-28,2025-01-30,2025-02-04,213.82,60,12829.20,Premium
22,97,SuperMart,Haldirams,Tea 100g,100g,1002,Haldirams Distributors,PO1097,2025-03-26,2025-03-28,2025-03-30,2025-04-04,188.45,90,16960.50,Premium
23,99,FreshBazaar,Haldirams,Chips 100g,100g,1002,Haldirams Distributors,PO1099,2025-01-11,2025-01-13,2025-01-15,2025-01-20,143.83,70,10068.10,Premium
24,100,GrociKart,Haldirams,Coffee 500g,500g,1002,Haldirams Distributors,PO1100,2025-06-26,2025-06-28,2025-06-30,2025-07-05,16.88,60,1012.80,Premium

In [31]:
vendor_invoice = pd.read_sql_query("""select * from purchases where VendorNumber = 1002""", conn)
vendor_invoice

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Rupees,Classification
0,3,SuperMart,Haldirams,Noodles 1kg,1kg,1002,Haldirams Distributors,PO1003,2025-04-30,2025-05-02,2025-05-04,2025-05-09,115.28,100,11528.00,Premium
1,6,GrociKart,Haldirams,Butter 100g,100g,1002,Haldirams Distributors,PO1006,2025-03-12,2025-03-14,2025-03-16,2025-03-21,23.68,25,592.00,Premium
2,20,FreshBazaar,Haldirams,Biscuits 500g,500g,1002,Haldirams Distributors,PO1020,2025-06-01,2025-06-03,2025-06-05,2025-06-10,206.72,50,10336.00,Premium
3,30,GrociKart,Haldirams,Biscuits 100g,100g,1002,Haldirams Distributors,PO1030,2025-02-17,2025-02-19,2025-02-21,2025-02-26,216.47,50,10823.50,Premium
4,31,FreshBazaar,Haldirams,Tea 1L,1L,1002,Haldirams Distributors,PO1031,2025-04-30,2025-05-02,2025-05-04,2025-05-09,91.39,40,3655.60,Premium
5,33,GrociKart,Haldirams,Chips 100g,100g,1002,Haldirams Distributors,PO1033,2025-03-16,2025-03-18,2025-03-20,2025-03-25,193.74,30,5812.20,Premium
6,34,GrociKart,Haldirams,Tea 500g,500g,1002,Haldirams Distributors,PO1034,2025-05-30,2025-06-02,2025-06-04,2025-06-09,97.33,40,3893.20,Premium
7,35,DailyNeeds,Haldirams,Coffee 200g,200g,1002,Haldirams Distributors,PO1035,2025-06-01,2025-06-03,2025-06-05,2025-06-10,126.02,20,2520.40,Premium
8,37,FreshBazaar,Haldirams,Butter 500g,500g,1002,Haldirams Distributors,PO1037,2025-03-20,2025-03-22,2025-03-24,2025-03-29,51.92,40,2076.80,Premium
9,41,GrociKart,Haldirams,Butter 1kg,1kg,1002,Haldirams Distributors,PO1041,2025-06-23,2025-06-25,2025-06-27,2025-07-02,52.46,80,4196.80,Premium
10,43,FreshBazaar,Haldirams,Milk 250ml,250ml,1002,Haldirams Distributors,PO1043,2025-04-28,2025-04-30,2025-05-02,2025-05-07,44.29,90,3986.10,Premium
11,58,FreshBazaar,Haldirams,Coffee 100g,100g,1002,Haldirams Distributors,PO1058,2025-02-04,2025-02-06,2025-02-08,2025-02-13,154.73,20,3094.60,Premium
12,60,GrociKart,Haldirams,Butter 100g,100g,1002,Haldirams Distributors,PO1060,2025-04-17,2025-04-19,2025-04-21,2025-04-26,58.02,30,1740.60,Premium
13,64,SuperMart,Haldirams,Coffee 1kg,1kg,1002,Haldirams Distributors,PO1064,2025-04-27,2025-04-29,2025-05-01,2025-05-06,125.68,80,10054.40,Premium
14,68,DailyNeeds,Haldirams,Salt 1kg,1kg,1002,Haldirams Distributors,PO1068,2025-03-02,2025-03-04,2025-03-06,2025-03-11,36.16,80,2892.80,Premium
15,69,FreshBazaar,Haldirams,Milk 1kg,1kg,1002,Haldirams Distributors,PO1069,2025-01-10,2025-01-12,2025-01-14,2025-01-19,160.83,70,11258.10,Premium
16,71,GrociKart,Haldirams,Tea 1L,1L,1002,Haldirams Distributors,PO1071,2025-03-11,2025-03-13,2025-03-15,2025-03-20,154.07,80,12325.60,Premium
17,77,SuperMart,Haldirams,Milk 500g,500g,1002,Haldirams Distributors,PO1077,2025-04-15,2025-04-17,2025-04-19,2025-04-24,33.21,15,498.15,Premium
18,79,MegaStore,Haldirams,Coffee 1L,1L,1002,Haldirams Distributors,PO1079,2025-04-25,2025-04-27,2025-04-29,2025-05-04,12.50,100,1250.00,Premium
19,80,DailyNeeds,Haldirams,Tea 500g,500g,1002,Haldirams Distributors,PO1080,2025-03-09,2025-03-11,2025-03-13,2025-03-18,85.98,50,4299.00,Premium
20,92,MegaStore,Haldirams,Coffee 250ml,250ml,1002,Haldirams Distributors,PO1092,2025-03-01,2025-03-03,2025-03-05,2025-03-10,147.29,80,11783.20,Premium
21,93,SuperMart,Haldirams,Milk 1kg,1kg,1002,Haldirams Distributors,PO1093,2025-01-26,2025-01-28,2025-01-30,2025-02-04,213.82,60,12829.20,Premium
22,97,SuperMart,Haldirams,Tea 100g,100g,1002,Haldirams Distributors,PO1097,2025-03-26,2025-03-28,2025-03-30,2025-04-04,188.45,90,16960.50,Premium
23,99,FreshBazaar,Haldirams,Chips 100g,100g,1002,Haldirams Distributors,PO1099,2025-01-11,2025-01-13,2025-01-15,2025-01-20,143.83,70,10068.10,Premium
24,100,GrociKart,Haldirams,Coffee 500g,500g,1002,Haldirams Distributors,PO1100,2025-06-26,2025-06-28,2025-06-30,2025-07-05,16.88,60,1012.80,Premium

In [32]:
sales = pd.read_sql_query("""select * from purchases where VendorNumber = 1002""", conn)
sales

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Rupees,Classification
0,3,SuperMart,Haldirams,Noodles 1kg,1kg,1002,Haldirams Distributors,PO1003,2025-04-30,2025-05-02,2025-05-04,2025-05-09,115.28,100,11528.00,Premium
1,6,GrociKart,Haldirams,Butter 100g,100g,1002,Haldirams Distributors,PO1006,2025-03-12,2025-03-14,2025-03-16,2025-03-21,23.68,25,592.00,Premium
2,20,FreshBazaar,Haldirams,Biscuits 500g,500g,1002,Haldirams Distributors,PO1020,2025-06-01,2025-06-03,2025-06-05,2025-06-10,206.72,50,10336.00,Premium
3,30,GrociKart,Haldirams,Biscuits 100g,100g,1002,Haldirams Distributors,PO1030,2025-02-17,2025-02-19,2025-02-21,2025-02-26,216.47,50,10823.50,Premium
4,31,FreshBazaar,Haldirams,Tea 1L,1L,1002,Haldirams Distributors,PO1031,2025-04-30,2025-05-02,2025-05-04,2025-05-09,91.39,40,3655.60,Premium
5,33,GrociKart,Haldirams,Chips 100g,100g,1002,Haldirams Distributors,PO1033,2025-03-16,2025-03-18,2025-03-20,2025-03-25,193.74,30,5812.20,Premium
6,34,GrociKart,Haldirams,Tea 500g,500g,1002,Haldirams Distributors,PO1034,2025-05-30,2025-06-02,2025-06-04,2025-06-09,97.33,40,3893.20,Premium
7,35,DailyNeeds,Haldirams,Coffee 200g,200g,1002,Haldirams Distributors,PO1035,2025-06-01,2025-06-03,2025-06-05,2025-06-10,126.02,20,2520.40,Premium
8,37,FreshBazaar,Haldirams,Butter 500g,500g,1002,Haldirams Distributors,PO1037,2025-03-20,2025-03-22,2025-03-24,2025-03-29,51.92,40,2076.80,Premium
9,41,GrociKart,Haldirams,Butter 1kg,1kg,1002,Haldirams Distributors,PO1041,2025-06-23,2025-06-25,2025-06-27,2025-07-02,52.46,80,4196.80,Premium
10,43,FreshBazaar,Haldirams,Milk 250ml,250ml,1002,Haldirams Distributors,PO1043,2025-04-28,2025-04-30,2025-05-02,2025-05-07,44.29,90,3986.10,Premium
11,58,FreshBazaar,Haldirams,Coffee 100g,100g,1002,Haldirams Distributors,PO1058,2025-02-04,2025-02-06,2025-02-08,2025-02-13,154.73,20,3094.60,Premium
12,60,GrociKart,Haldirams,Butter 100g,100g,1002,Haldirams Distributors,PO1060,2025-04-17,2025-04-19,2025-04-21,2025-04-26,58.02,30,1740.60,Premium
13,64,SuperMart,Haldirams,Coffee 1kg,1kg,1002,Haldirams Distributors,PO1064,2025-04-27,2025-04-29,2025-05-01,2025-05-06,125.68,80,10054.40,Premium
14,68,DailyNeeds,Haldirams,Salt 1kg,1kg,1002,Haldirams Distributors,PO1068,2025-03-02,2025-03-04,2025-03-06,2025-03-11,36.16,80,2892.80,Premium
15,69,FreshBazaar,Haldirams,Milk 1kg,1kg,1002,Haldirams Distributors,PO1069,2025-01-10,2025-01-12,2025-01-14,2025-01-19,160.83,70,11258.10,Premium
16,71,GrociKart,Haldirams,Tea 1L,1L,1002,Haldirams Distributors,PO1071,2025-03-11,2025-03-13,2025-03-15,2025-03-20,154.07,80,12325.60,Premium
17,77,SuperMart,Haldirams,Milk 500g,500g,1002,Haldirams Distributors,PO1077,2025-04-15,2025-04-17,2025-04-19,2025-04-24,33.21,15,498.15,Premium
18,79,MegaStore,Haldirams,Coffee 1L,1L,1002,Haldirams Distributors,PO1079,2025-04-25,2025-04-27,2025-04-29,2025-05-04,12.50,100,1250.00,Premium
19,80,DailyNeeds,Haldirams,Tea 500g,500g,1002,Haldirams Distributors,PO1080,2025-03-09,2025-03-11,2025-03-13,2025-03-18,85.98,50,4299.00,Premium
20,92,MegaStore,Haldirams,Coffee 250ml,250ml,1002,Haldirams Distributors,PO1092,2025-03-01,2025-03-03,2025-03-05,2025-03-10,147.29,80,11783.20,Premium
21,93,SuperMart,Haldirams,Milk 1kg,1kg,1002,Haldirams Distributors,PO1093,2025-01-26,2025-01-28,2025-01-30,2025-02-04,213.82,60,12829.20,Premium
22,97,SuperMart,Haldirams,Tea 100g,100g,1002,Haldirams Distributors,PO1097,2025-03-26,2025-03-28,2025-03-30,2025-04-04,188.45,90,16960.50,Premium
23,99,FreshBazaar,Haldirams,Chips 100g,100g,1002,Haldirams Distributors,PO1099,2025-01-11,2025-01-13,2025-01-15,2025-01-20,143.83,70,10068.10,Premium
24,100,GrociKart,Haldirams,Coffee 500g,500g,1002,Haldirams Distributors,PO1100,2025-06-26,2025-06-28,2025-06-30,2025-07-05,16.88,60,1012.80,Premium

In [33]:
purchases.groupby(['Brand' , 'PurchasePrice'])[['Quantity' , 'Rupees']].sum()

                     Quantity   Rupees
Brand PurchasePrice
Amul  28.88                20    577.6
      47.01                60   2820.6
      57.90                50   2895.0
      69.15                10    691.5
      103.13               10   1031.3
...                       ...      ...
Tata  154.66               60   9279.6
      168.44               80  13475.2
      171.97               30   5159.1
      205.46               90  18491.4
      237.43               50  11871.5

[100 rows x 2 columns]

In [34]:
purchase_prices

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Rupees,Classification
0,1,SuperMart,Nestle,Butter 500g,500g,1001,Nestle Suppliers,PO1001,2025-03-01,2025-03-03,2025-03-05,2025-03-10,24.85,50,1242.5,Standard
1,2,DailyNeeds,Nestle,Noodles 100g,100g,1001,Nestle Suppliers,PO1002,2025-06-15,2025-06-17,2025-06-19,2025-06-24,45.00,30,1350.0,Standard
2,3,SuperMart,Haldirams,Noodles 1kg,1kg,1002,Haldirams Distributors,PO1003,2025-04-30,2025-05-02,2025-05-04,2025-05-09,115.28,100,11528.0,Premium
3,4,MegaStore,Nestle,Noodles 1L,1L,1001,Nestle Suppliers,PO1004,2025-03-30,2025-04-02,2025-04-04,2025-04-09,105.39,20,2107.8,Standard
4,5,SuperMart,Britannia,Salt 200g,200g,1003,Britannia Vendors,PO1005,2025-03-20,2025-03-23,2025-03-25,2025-03-30,95.05,40,3802.0,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,FreshBazaar,Britannia,Biscuits 1kg,1kg,1003,Britannia Vendors,PO1096,2025-05-22,2025-05-24,2025-05-26,2025-05-31,58.78,50,2939.0,Standard
96,97,SuperMart,Haldirams,Tea 100g,100g,1002,Haldirams Distributors,PO1097,2025-03-26,2025-03-28,2025-03-30,2025-04-04,188.45,90,16960.5,Premium
97,98,MegaStore,Amul,Coffee 100g,100g,1004,Amul Wholesale,PO1098,2025-01-13,2025-01-15,2025-01-17,2025-01-22,28.88,20,577.6,Premium
98,99,FreshBazaar,Haldirams,Chips 100g,100g,1002,Haldirams Distributors,PO1099,2025-01-11,2025-01-13,2025-01-15,2025-01-20,143.83,70,10068.1,Premium
99,100,GrociKart,Haldirams,Coffee 500g,500g,1002,Haldirams Distributors,PO1100,2025-06-26,2025-06-28,2025-06-30,2025-07-05,16.88,60,1012.8,Premium

In [35]:
vendor_invoice.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Rupees', 'Classification'],
      dtype='object')

In [36]:
vendor_invoice.shape

(25, 16)

In [37]:
vendor_invoice.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Rupees', 'Classification'],
      dtype='object')

In [38]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Rupees', 'Classification'],
      dtype='object')

In [39]:
begin_inventory.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'Startdate'],
      dtype='object')

In [40]:
purchase_prices.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Rupees', 'Classification'],
      dtype='object')

end_inventory.columns

In [41]:
end_inventory.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'Enddate'],
      dtype='object')

In [42]:
sales.groupby('Brand')[['SalesRupees','SalesPrice','SalesQuantity']].sum()

KeyError: "Columns not found: 'SalesPrice', 'SalesQuantity', 'SalesRupees'"

In [43]:
import pandas as pd
import sqlite3

# Connect to the database
conn = sqlite3.connect("inventory.db")

# Load the sales and end_inventory tables
sales = pd.read_sql_query("SELECT * FROM sales", conn)
end_inventory = pd.read_sql_query("SELECT * FROM end_inventory", conn)
vendor_invoice = pd.read_sql_query("SELECT * FROM vendor_invoice", conn)
begin_inventory = pd.read_sql_query("SELECT * FROM begin_inventory", conn)
purchases = pd.read_sql_query("SELECT * FROM purchases", conn)
purchase_prices = pd.read_sql_query("SELECT * FROM purchases", conn)

In [44]:
end_inventory.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'Enddate'],
      dtype='object')

In [45]:
#checking tables present in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'",conn)
tables

              name
0   vendor_invoice
1  begin_inventory
2    end_inventory
3        purchases
4  purchase_prices
5            sales

In [46]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Rupees', 'Freight', 'Approval'],
      dtype='object')

In [47]:
sales.groupby('Brand')[['SalesRupees','SalesPrice','SalesQuantity']].sum()

           SalesRupees  SalesPrice  SalesQuantity
Brand
Amul         154557.90     2298.46            840
Britannia    171698.10     2866.48           1275
Haldirams    212650.15     3667.67           1450
Nestle       198505.30     3119.25           1285
Tata         170022.70     2691.86           1200

In [48]:
purchases.groupby('Brand')[['PurchasePrice','Quantity','Rupees']].sum()

           PurchasePrice  Quantity     Rupees
Brand
Amul             1723.83       840  115917.20
Britannia        2293.17      1275  137357.40
Haldirams        2750.75      1450  159487.65
Nestle           2495.40      1285  158804.00
Tata             2153.49      1200  136018.50

### Key Observations


- The purchases table contains actual purchase data, including the date of purchase, products (brands) purchased by vendors, the amount paid (in rupees), and the quantity purchased.  
- The purchase_prices column is derived from the purchase_prices table, which provides product-wise actual and purchase prices. The combination of vendor and brand is unique in this table.  
- The vendor_invoice table aggregates data from the purchases table, summarizing quantity and rupees amounts, along with an additional column for freight. This table maintains uniqueness based on vendor and PO number.  
- The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.  

---

### As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:

- Purchase transactions made by vendors  
- Sales transaction data  
- Freight costs for each vendor  
- Actual product prices from vendors

In [49]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Rupees', 'Freight', 'Approval'],
      dtype='object')

In [50]:
freight_summary = pd.read_sql_query("""select VendorNumber, SUM(Freight) as FreightCost
From vendor_invoice
Group BY VendorNumber""", conn)

In [51]:
freight_summary

   VendorNumber  FreightCost
0          1001     15880.40
1          1002     15948.77
2          1003     13735.74
3          1004     11591.72
4          1005     13601.85

In [52]:
freight_summary = pd.read_sql_query("""select VendorNumber, SUM(Freight) as FreightCost
From vendor_invoice
Group BY VendorNumber""", conn)

In [53]:
freight_summary

   VendorNumber  FreightCost
0          1001     15880.40
1          1002     15948.77
2          1003     13735.74
3          1004     11591.72
4          1005     13601.85

In [55]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Rupees', 'Classification'],
      dtype='object')

In [56]:
purchase_prices.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Rupees', 'Classification'],
      dtype='object')

In [59]:
import pandas as pd
import sqlite3

# Connect to the database
conn = sqlite3.connect("inventory.db")

# Load the sales and end_inventory tables
sales = pd.read_sql_query("SELECT * FROM sales", conn)
end_inventory = pd.read_sql_query("SELECT * FROM end_inventory", conn)
vendor_invoice = pd.read_sql_query("SELECT * FROM vendor_invoice", conn)
begin_inventory = pd.read_sql_query("SELECT * FROM begin_inventory", conn)
purchases = pd.read_sql_query("SELECT * FROM purchases", conn)
purchase_prices = pd.read_sql_query("SELECT * FROM purchase_prices", conn)

In [60]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Rupees', 'Classification'],
      dtype='object')

In [61]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [63]:
pd.read_sql_query("""SELECT
p.VendorNumber,
p.VendorName,
p.Brand,
p.PurchasePrice,
pp.Volume,
pp.Price as ActualPrice,
SUM(p.Quantity) as TotalPurchaseQuantity,
SUM(p.Rupees) as TotalPurchaseRupees
FROM purchases p
JOIN purchase_prices pp
ON p.Brand = pp.Brand
GROUP BY p.VendorNumber, p.VendorName, p.Brand
ORDER BY TotalPurchaseRupees""",conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseRupees
0,1004,Amul Wholesale,Amul,132.08,100,38.51,11760,1622840.80
1,1005,Tata Foods,Tata,65.19,1000,28.62,22800,2584351.50
2,1003,Britannia Vendors,Britannia,95.05,500,53.78,25500,2747148.00
3,1001,Nestle Suppliers,Nestle,24.85,100,30.20,28270,3493688.00
4,1002,Haldirams Distributors,Haldirams,115.28,1000,16.66,36250,3987191.25

In [64]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesRupees', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNumber', 'VendorName'],
      dtype='object')

In [67]:
pd.read_sql_query("""SELECT
VendorNumber,
Brand,
SUM(SalesRupees) as TotalSalesRupees,
SUM(SalesPrice) as TotalSalesPrice,
SUM(SalesQuantity) as TotalSalesQuantity,
SUM(ExciseTax) as TotalExciseTax
FROM sales
GROUP BY VendorNumber, Brand
ORDER BY TotalSalesRupees""",conn)

,VendorNumber,Brand,TotalSalesRupees,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,1004,Amul,154557.90,2298.46,840,15455.79
1,1005,Tata,170022.70,2691.86,1200,17002.27
2,1003,Britannia,171698.10,2866.48,1275,17169.81
3,1001,Nestle,198505.30,3119.25,1285,19850.53
4,1002,Haldirams,212650.15,3667.67,1450,21265.02

In [68]:
import pandas as pd
import sqlite3

# Connect to the database
conn = sqlite3.connect("inventory.db")

# Load the sales and end_inventory tables
sales = pd.read_sql_query("SELECT * FROM sales", conn)
end_inventory = pd.read_sql_query("SELECT * FROM end_inventory", conn)
vendor_invoice = pd.read_sql_query("SELECT * FROM vendor_invoice", conn)
begin_inventory = pd.read_sql_query("SELECT * FROM begin_inventory", conn)
purchases = pd.read_sql_query("SELECT * FROM purchases", conn)
purchase_prices = pd.read_sql_query("SELECT * FROM purchase_prices", conn)

In [69]:
import pandas as pd
import sqlite3

# Connect to the database
conn = sqlite3.connect("inventory.db")

# Load the sales and end_inventory tables
sales = pd.read_sql_query("SELECT * FROM sales", conn)
end_inventory = pd.read_sql_query("SELECT * FROM end_inventory", conn)
vendor_invoice = pd.read_sql_query("SELECT * FROM vendor_invoice", conn)
begin_inventory = pd.read_sql_query("SELECT * FROM begin_inventory", conn)
purchases = pd.read_sql_query("SELECT * FROM purchases", conn)
purchase_prices = pd.read_sql_query("SELECT * FROM purchase_prices", conn)

In [72]:
import pandas as pd
import sqlite3

# Connect to the database
conn = sqlite3.connect("inventory.db")

# Load the sales and end_inventory tables
sales = pd.read_sql_query("SELECT * FROM sales", conn)
end_inventory = pd.read_sql_query("SELECT * FROM end_inventory", conn)
vendor_invoice = pd.read_sql_query("SELECT * FROM vendor_invoice", conn)
begin_inventory = pd.read_sql_query("SELECT * FROM begin_inventory", conn)
purchases = pd.read_sql_query("SELECT * FROM purchases", conn)
purchase_prices = pd.read_sql_query("SELECT * FROM purchase_prices", conn)

In [76]:
import pandas as pd
import sqlite3

# Connect to the database
conn = sqlite3.connect("inventory.db")

# Load the sales and end_inventory tables
sales = pd.read_sql_query("SELECT * FROM sales", conn)
end_inventory = pd.read_sql_query("SELECT * FROM end_inventory", conn)
vendor_invoice = pd.read_sql_query("SELECT * FROM vendor_invoice", conn)
begin_inventory = pd.read_sql_query("SELECT * FROM begin_inventory", conn)
purchases = pd.read_sql_query("SELECT * FROM purchases", conn)
purchase_prices = pd.read_sql_query("SELECT * FROM purchase_prices", conn)

In [70]:
import time
start = time.time()
final_table = pd.read_sql_query("""SELECT
    pp.VendorNumber,
    pp.Brand,
    pp.Price as ActualPrice,
    pp.PurchasePrice,
    SUM(s.SalesQuantity) AS TotalSalesQuantity,
    SUM(s.SalesRupees) AS TotalSalesRupees,
    SUM(s.SalesPrice) AS TotalSalesPrice,
    SUM(s.ExciseTax) AS TotalExciseTax,
    SUM(vi.Quantity) AS TotalPurchaseQuantity,
    SUM(vi.Rupees) AS TotalPurchaseRupees,
    SUM(vi.Freight) AS TotalFreightCost
    FROM purchase_prices pp
JOIN sales s
    ON pp.VendorNumber = s.VendorNumber
    AND pp.Brand = s.Brand
JOIN vendor_invoice vi
    ON pp.VendorNumber = vi.VendorNumber
GROUP BY pp.VendorNumber, pp.Brand, pp.PurchasePrice
""",conn)
end = time.time()

In [71]:
final_table

,VendorNumber,Brand,ActualPrice,PurchasePrice,TotalSalesQuantity,TotalSalesRupees,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseRupees,TotalFreightCost
0,1001,Nestle,30.20,24.16,28270,4367116.6,68623.50,436711.66,28270,3493688.0,349368.80
1,1001,Nestle,31.06,24.85,28270,4367116.6,68623.50,436711.66,28270,3493688.0,349368.80
2,1001,Nestle,40.29,32.23,28270,4367116.6,68623.50,436711.66,28270,3493688.0,349368.80
3,1001,Nestle,46.52,37.22,28270,4367116.6,68623.50,436711.66,28270,3493688.0,349368.80
4,1001,Nestle,56.25,45.00,28270,4367116.6,68623.50,436711.66,28270,3493688.0,349368.80
...,...,...,...,...,...,...,...,...,...,...,...
95,1005,Tata,193.32,154.66,22800,3230431.3,51145.34,323043.13,22800,2584351.5,258435.15
96,1005,Tata,210.55,168.44,22800,3230431.3,51145.34,323043.13,22800,2584351.5,258435.15
97,1005,Tata,214.96,171.97,22800,3230431.3,51145.34,323043.13,22800,2584351.5,258435.15
98,1005,Tata,256.82,205.46,22800,3230431.3,51145.34,323043.13,22800,2584351.5,258435.15
99,1005,Tata,296.79,237.43,22800,3230431.3,51145.34,323043.13,22800,2584351.5,258435.15

### Optimized way of doing the above aggregated table, it is done when the amount of data in the dataset in too large

In [108]:
vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),

PurchaseSummary AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price AS ActualPrice,
        pp.Volume,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Rupees) AS TotalPurchaseRupees
    FROM purchases p
    JOIN purchase_prices pp
        ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
),

SalesSummary AS (
    SELECT
        VendorNumber,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesRupees) AS TotalSalesRupees,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM sales
    GROUP BY VendorNumber, Brand
)

SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseRupees,
    ss.TotalSalesQuantity,
    ss.TotalSalesRupees,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
    ON ps.VendorNumber = ss.VendorNumber
    AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseRupees DESC""",conn)

In [109]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseRupees,TotalSalesQuantity,TotalSalesRupees,TotalSalesPrice,TotalExciseTax,FreightCost
0,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,30.20,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4
1,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,31.06,500,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4
2,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,40.29,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4
3,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,46.52,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4
4,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,56.25,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,214.20,250,15,362.4,1285,198505.3,3119.25,19850.53,15880.4
2062,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,237.10,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4
2063,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,256.32,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4
2064,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,274.68,1000,15,362.4,1285,198505.3,3119.25,19850.53,15880.4
2065,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,288.40,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4

This query generates a vendor-wise sales and purchase summary, which is valuable for:

**Performance Optimization:**

- The query involves heavy joins and aggregations on large datasets like sales and purchases.  
- Storing the pre-aggregated results avoids repeated expensive computations.  
- Helps in analyzing sales, purchases, and pricing for different vendors and brands.  
- Future Benefits of Storing this data for faster Dashboarding & Reporting.  
- Instead of running expensive queries each time, dashboards can fetch data quickly from `vendor_sales_summary`.

In [110]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                     object
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                     int64
TotalPurchaseQuantity      int64
TotalPurchaseRupees      float64
TotalSalesQuantity         int64
TotalSalesRupees         float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [111]:
vendor_sales_summary.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
ActualPrice              0
Volume                   0
TotalPurchaseQuantity    0
TotalPurchaseRupees      0
TotalSalesQuantity       0
TotalSalesRupees         0
TotalSalesPrice          0
TotalExciseTax           0
FreightCost              0
dtype: int64

In [112]:
vendor_sales_summary['VendorName'].unique()

array(['Nestle Suppliers', 'Amul Wholesale', 'Tata Foods',
       'Haldirams Distributors', 'Britannia Vendors'], dtype=object)

In [113]:
vendor_sales_summary['Description'].unique()

array(['Biscuits 1kg', 'Milk 100g', 'Butter 250ml', 'Milk 1kg',
       'Tea 100g', 'Tea 200g', 'Chips 1kg', 'Salt 100g', 'Biscuits 500g',
       'Coffee 100g', 'Butter 100g', 'Tea 1L', 'Salt 500g', 'Chips 250ml',
       'Noodles 500g', 'Coffee 250ml', 'Milk 1L', 'Noodles 1kg',
       'Biscuits 1L', 'Biscuits 100g', 'Milk 200g', 'Butter 500g',
       'Noodles 100g', 'Chips 100g', 'Coffee 1kg', 'Tea 500g',
       'Chips 200g', 'Salt 200g', 'Chips 1L', 'Salt 1L', 'Butter 1kg',
       'Coffee 500g', 'Butter 1L', 'Noodles 250ml', 'Milk 250ml',
       'Salt 250ml', 'Salt 1kg', 'Tea 250ml', 'Coffee 200g',
       'Butter 200g', 'Noodles 1L', 'Coffee 1L', 'Milk 500g'],
      dtype=object)

In [114]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesRupees'] - vendor_sales_summary['TotalPurchaseRupees']

In [115]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseRupees,TotalSalesQuantity,TotalSalesRupees,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit
0,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,30.20,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3
1,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,31.06,500,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3
2,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,40.29,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3
3,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,46.52,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3
4,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,56.25,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,214.20,250,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9
2062,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,237.10,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9
2063,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,256.32,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9
2064,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,274.68,1000,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9
2065,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,288.40,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9

In [116]:
vendor_sales_summary['GrossProfit'].min()

133322.9

In [117]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesRupees'])*100

In [118]:
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']

In [119]:
vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesRupees']/vendor_sales_summary['TotalPurchaseRupees']

In [120]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseRupees,TotalSalesQuantity,TotalSalesRupees,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,30.20,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
1,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,31.06,500,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
2,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,40.29,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
3,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,46.52,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
4,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,56.25,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,214.20,250,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2062,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,237.10,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2063,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,256.32,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2064,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,274.68,1000,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2065,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,288.40,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932

In [121]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                     object
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                     int64
TotalPurchaseQuantity      int64
TotalPurchaseRupees      float64
TotalSalesQuantity         int64
TotalSalesRupees         float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
GrossProfit              float64
ProfitMargin             float64
StockTurnover            float64
SalestoPurchaseRatio     float64
dtype: object

In [122]:
cursor = conn.cursor()

In [123]:
cursor.execute("""CREATE TABLE vendor_sales_summary (
    VendorNumber INT,
    VendorName VARCHAR(100),
    Brand VARCHAR(100),
    Description VARCHAR(100),
    PurchasePrice DECIMAL(10,2),
    ActualPrice DECIMAL(10,2),
    Volume INT,
    TotalPurchaseQuantity INT,
    TotalPurchaseRupees DECIMAL(15,2),
    TotalSalesQuantity INT,
    TotalSalesRupees DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),
    FreightCost DECIMAL(15,2),
    GrossProfit DECIMAL(15,2),
    ProfitMargin DECIMAL(15,2),
    StockTurnover DECIMAL(15,2),
    SalesToPurchaseRatio DECIMAL(15,2),
    PRIMARY KEY (VendorNumber, Brand)
);
""")

OperationalError: table vendor_sales_summary already exists

In [124]:
pd.read_sql_query("select * from vendor_sales_summary",conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseRupees,TotalSalesQuantity,TotalSalesRupees,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,30.20,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
1,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,31.06,500,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
2,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,40.29,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
3,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,46.52,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
4,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,56.25,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,214.20,250,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2062,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,237.10,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2063,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,256.32,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2064,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,274.68,1000,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2065,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,288.40,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932

In [125]:
vendor_sales_summary.to_sql('vendor_sales_summary', conn, if_exists = 'replace', index = False )

2066

In [126]:
pd.read_sql_query("select * from vendor_sales_summary",conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseRupees,TotalSalesQuantity,TotalSalesRupees,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,30.20,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
1,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,31.06,500,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
2,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,40.29,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
3,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,46.52,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
4,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,56.25,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,214.20,250,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2062,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,237.10,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2063,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,256.32,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2064,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,274.68,1000,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2065,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,288.40,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932

In [130]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db

logging.basicConfig(
    filename="logs/get_vendor.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(leevelname)s - %(message)s",
    filemode="a"
)

def create_vendor_summary(conn):
    '''this function will merge the different tables to get the overall vendor summary and adding new columns in the resultant data'''
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
    ),
    
    PurchaseSummary AS (
        SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Price AS ActualPrice,
            pp.Volume,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Rupees) AS TotalPurchaseRupees
        FROM purchases p
        JOIN purchase_prices pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
    ),
    
    SalesSummary AS (
        SELECT
            VendorNumber,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesRupees) AS TotalSalesRupees,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM sales
        GROUP BY VendorNumber, Brand
    )
    
    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseRupees,
        ss.TotalSalesQuantity,
        ss.TotalSalesRupees,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        fs.FreightCost
    FROM PurchaseSummary ps
    LEFT JOIN SalesSummary ss
        ON ps.VendorNumber = ss.VendorNumber
        AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseRupees DESC""",conn)

    return vendor_sales_summary


def clean_data(df):
    '''this function will clean the data'''

    # creating new columns for better analysis
    vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesRupees'] -  vendor_sales_summary['TotalPurchaseRupees']
    vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesRupees'])*100
    vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']
    vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesRupees']/vendor_sales_summary['TotalPurchaseRupees']


    return df

if __name__=='__main__':
    # creating database connection
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Vendor Summary Table.......')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data....')
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info('Ingesting data......')
    ingest_db(clean_df,'vendor_sales_summary',conn)
    logging.info('Completed')

In [128]:
import pandas as pd
import os
from sqlalchemy import create_engine
import logging
import time

logging.basicConfig(
    filename="logs/ingestion_db.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

engine = create_engine('sqlite:///inventory.db')

def ingest_db(df, table_name, engine):
    '''this function will ingest the dataframe into database table'''
    df.to_sql(table_name, con = engine, if_exists = 'replace', index = False)

def load_raw_data():
    '''this function will load the CSVs as dataframe and ingest into db'''
    start = time.time()
    for file in os.listdir('data'):
        if '.csv' in file:
            df = pd.read_csv('data/'+file)
            logging.info(f'Ingesting {file} in db')
            ingest_db(df, file[:-4], engine)
    end = time.time()
    total_time = (end - start)/60
    logging.info('--------Ingestion Complete----------')
    
    logging.info(f'Total Time Taken: {total_time} minutes')

if __name__=='__main__':
    load_raw_data()

In [129]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db

logging.basicConfig(
    filename="logs/get_vendor.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(leevelname)s - %(message)s",
    filemode="a"
)

def create_vendor_summary(conn):
    '''this function will merge the different tables to get the overall vendor summary and adding new columns in the resultant data'''
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
    ),
    
    PurchaseSummary AS (
        SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Price AS ActualPrice,
            pp.Volume,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Rupees) AS TotalPurchaseRupees
        FROM purchases p
        JOIN purchase_prices pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
    ),
    
    SalesSummary AS (
        SELECT
            VendorNumber,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesRupees) AS TotalSalesRupees,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM sales
        GROUP BY VendorNumber, Brand
    )
    
    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseRupees,
        ss.TotalSalesQuantity,
        ss.TotalSalesRupees,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        fs.FreightCost
    FROM PurchaseSummary ps
    LEFT JOIN SalesSummary ss
        ON ps.VendorNumber = ss.VendorNumber
        AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseRupees DESC""",conn)

    return vendor_sales_summary


def clean_data(df):
    '''this function will clean the data'''

    # creating new columns for better analysis
    vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesRupees'] -  vendor_sales_summary['TotalPurchaseRupees']
    vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesRupees'])*100
    vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']
    vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesRupees']/vendor_sales_summary['TotalPurchaseRupees']


    return df

if __name__=='__main__':
    # creating database connection
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Vendor Summary Table.......')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data....')
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info('Ingesting data......')
    ingest_db(clean_df,'vendor_sales_summary',conn)
    logging.info('Completed')

DatabaseError: Execution failed on sql 'WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
    ),

    PurchaseSummary AS (
        SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,,
            p.PurchasePrice,
            pp.Price AS ActualPrice,
            pp.Volume,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Rupees) AS TotalPurchaseRupees
        FROM purchases p
        JOIN purchase_prices pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
    ),

    SalesSummary AS (
        SELECT
            VendorNumber,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesRupees) AS TotalSalesRupees,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM sales
        GROUP BY VendorNumber, Brand
    )

    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseRupees,
        ss.TotalSalesQuantity,
        ss.TotalSalesRupees,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        fs.FreightCost
    FROM PurchaseSummary ps
    LEFT JOIN SalesSummary ss
        ON ps.VendorNumber = ss.VendorNumber
        AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseRupees DESC': near ",": syntax error

In [132]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db  

# Logging setup
logging.basicConfig(
    filename="logs/get_vendor.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

def create_vendor_summary(conn):
    '''Merge different tables to create vendor summary'''
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
        SELECT
            VendorNumber,
            SUM(Freight) AS FreightCost
        FROM vendor_invoice
        GROUP BY VendorNumber
        ),
        
        PurchaseSummary AS (
            SELECT
                p.VendorNumber,
                p.VendorName,
                p.Brand,
                p.Description,
                p.PurchasePrice,
                pp.Price AS ActualPrice,
                pp.Volume,
                SUM(p.Quantity) AS TotalPurchaseQuantity,
                SUM(p.Rupees) AS TotalPurchaseRupees
            FROM purchases p
            JOIN purchase_prices pp
                ON p.Brand = pp.Brand
            WHERE p.PurchasePrice > 0
            GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
        ),
        
        SalesSummary AS (
            SELECT
                VendorNumber,
                Brand,
                SUM(SalesQuantity) AS TotalSalesQuantity,
                SUM(SalesRupees) AS TotalSalesRupees,
                SUM(SalesPrice) AS TotalSalesPrice,
                SUM(ExciseTax) AS TotalExciseTax
            FROM sales
            GROUP BY VendorNumber, Brand
        )
        
        SELECT
            ps.VendorNumber,
            ps.VendorName,
            ps.Brand,
            ps.Description,
            ps.PurchasePrice,
            ps.ActualPrice,
            ps.Volume,
            ps.TotalPurchaseQuantity,
            ps.TotalPurchaseRupees,
            ss.TotalSalesQuantity,
            ss.TotalSalesRupees,
            ss.TotalSalesPrice,
            ss.TotalExciseTax,
            fs.FreightCost
        FROM PurchaseSummary ps
        LEFT JOIN SalesSummary ss
            ON ps.VendorNumber = ss.VendorNumber
            AND ps.Brand = ss.Brand
        LEFT JOIN FreightSummary fs
            ON ps.VendorNumber = fs.VendorNumber
        ORDER BY ps.TotalPurchaseRupees DESC""", conn)

    return vendor_sales_summary

def clean_data(df):
    '''Clean and enrich vendor summary data'''
    df['GrossProfit'] = df['TotalSalesRupees'] - df['TotalPurchaseRupees']
    df['ProfitMargin'] = (df['GrossProfit'] / df['TotalSalesRupees']) * 100
    df['StockTurnover'] = df['TotalSalesQuantity'] / df['TotalPurchaseQuantity']
    df['SalestoPurchaseRatio'] = df['TotalSalesRupees'] / df['TotalPurchaseRupees']
    return df

if __name__ == '__main__':
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Vendor Summary Table.......')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data....')
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info('Ingesting data......')
    ingest_db(clean_df, 'vendor_sales_summary', conn)
    logging.info('Completed')

In [135]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db

logging.basicConfig(
    filename="logs/get_vendor.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

def create_vendor_summary(conn):
    '''this function will merge the different tables to get the overall vendor summary and adding new columns in the resultant data'''
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
    ),
    
    PurchaseSummary AS (
        SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Price AS ActualPrice,
            pp.Volume,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Rupees) AS TotalPurchaseRupees
        FROM purchases p
        JOIN purchase_prices pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
    ),
    
    SalesSummary AS (
        SELECT
            VendorNumber,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesRupees) AS TotalSalesRupees,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM sales
        GROUP BY VendorNumber, Brand
    )
    
    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseRupees,
        ss.TotalSalesQuantity,
        ss.TotalSalesRupees,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        fs.FreightCost
    FROM PurchaseSummary ps
    LEFT JOIN SalesSummary ss
        ON ps.VendorNumber = ss.VendorNumber
        AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseRupees DESC""",conn)

    return vendor_sales_summary


def clean_data(df):
    '''this function will clean the data'''

    # creating new columns for better analysis
    vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesRupees'] -  vendor_sales_summary['TotalPurchaseRupees']
    vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesRupees'])*100
    vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']
    vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesRupees']/vendor_sales_summary['TotalPurchaseRupees']


    return df

if __name__=='__main__':
    # creating database connection
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Vendor Summary Table.......')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data....')
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info('Ingesting data......')
    ingest_db(clean_df,'vendor_sales_summary',conn)
    logging.info('Completed')

In [136]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db

logging.basicConfig(
    filename="logs/get_vendor.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

def create_vendor_summary(conn):
    '''this function will merge the different tables to get the overall vendor summary and adding new columns in the resultant data'''
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
    ),
    
    PurchaseSummary AS (
        SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Price AS ActualPrice,
            pp.Volume,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Rupees) AS TotalPurchaseRupees
        FROM purchases p
        JOIN purchase_prices pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
    ),
    
    SalesSummary AS (
        SELECT
            VendorNumber,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesRupees) AS TotalSalesRupees,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM sales
        GROUP BY VendorNumber, Brand
    )
    
    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseRupees,
        ss.TotalSalesQuantity,
        ss.TotalSalesRupees,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        fs.FreightCost
    FROM PurchaseSummary ps
    LEFT JOIN SalesSummary ss
        ON ps.VendorNumber = ss.VendorNumber
        AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseRupees DESC""",conn)

    return vendor_sales_summary


def clean_data(df):
    '''this function will clean the data'''

    # creating new columns for better analysis
    vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesRupees'] -  vendor_sales_summary['TotalPurchaseRupees']
    vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesRupees'])*100
    vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']
    vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesRupees']/vendor_sales_summary['TotalPurchaseRupees']


    return df

if __name__=='__main__':
    # creating database connection
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Vendor Summary Table.......')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data....')
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info('Ingesting data......')
    ingest_db(clean_df,'vendor_sales_summary',conn)
    logging.info('Completed')

In [137]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db

logging.basicConfig(
    filename="logs/get_vendor.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

def create_vendor_summary(conn):
    '''this function will merge the different tables to get the overall vendor summary and adding new columns in the resultant data'''
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
    ),
    
    PurchaseSummary AS (
        SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Price AS ActualPrice,
            pp.Volume,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Rupees) AS TotalPurchaseRupees
        FROM purchases p
        JOIN purchase_prices pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
    ),
    
    SalesSummary AS (
        SELECT
            VendorNumber,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesRupees) AS TotalSalesRupees,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM sales
        GROUP BY VendorNumber, Brand
    )
    
    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseRupees,
        ss.TotalSalesQuantity,
        ss.TotalSalesRupees,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        fs.FreightCost
    FROM PurchaseSummary ps
    LEFT JOIN SalesSummary ss
        ON ps.VendorNumber = ss.VendorNumber
        AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseRupees DESC""",conn)

    return vendor_sales_summary


def clean_data(df):
    '''this function will clean the data'''

    # creating new columns for better analysis
    vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesRupees'] -  vendor_sales_summary['TotalPurchaseRupees']
    vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesRupees'])*100
    vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']
    vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesRupees']/vendor_sales_summary['TotalPurchaseRupees']


    return df

if __name__=='__main__':
    # creating database connection
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Vendor Summary Table.......')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data....')
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info('Ingesting data......')
    ingest_db(clean_df,'vendor_sales_summary',conn)
    logging.info('Completed')

In [1]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db  

# Logging setup
logging.basicConfig(
    filename="logs/get_vendor.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

def create_vendor_summary(conn):
    '''Merge different tables to create vendor summary'''
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
        SELECT
            VendorNumber,
            SUM(Freight) AS FreightCost
        FROM vendor_invoice
        GROUP BY VendorNumber
        ),
        
        PurchaseSummary AS (
            SELECT
                p.VendorNumber,
                p.VendorName,
                p.Brand,
                p.Description,
                p.PurchasePrice,
                pp.Price AS ActualPrice,
                pp.Volume,
                SUM(p.Quantity) AS TotalPurchaseQuantity,
                SUM(p.Rupees) AS TotalPurchaseRupees
            FROM purchases p
            JOIN purchase_prices pp
                ON p.Brand = pp.Brand
            WHERE p.PurchasePrice > 0
            GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
        ),
        
        SalesSummary AS (
            SELECT
                VendorNumber,
                Brand,
                SUM(SalesQuantity) AS TotalSalesQuantity,
                SUM(SalesRupees) AS TotalSalesRupees,
                SUM(SalesPrice) AS TotalSalesPrice,
                SUM(ExciseTax) AS TotalExciseTax
            FROM sales
            GROUP BY VendorNumber, Brand
        )
        
        SELECT
            ps.VendorNumber,
            ps.VendorName,
            ps.Brand,
            ps.Description,
            ps.PurchasePrice,
            ps.ActualPrice,
            ps.Volume,
            ps.TotalPurchaseQuantity,
            ps.TotalPurchaseRupees,
            ss.TotalSalesQuantity,
            ss.TotalSalesRupees,
            ss.TotalSalesPrice,
            ss.TotalExciseTax,
            fs.FreightCost
        FROM PurchaseSummary ps
        LEFT JOIN SalesSummary ss
            ON ps.VendorNumber = ss.VendorNumber
            AND ps.Brand = ss.Brand
        LEFT JOIN FreightSummary fs
            ON ps.VendorNumber = fs.VendorNumber
        ORDER BY ps.TotalPurchaseRupees DESC""", conn)

    return vendor_sales_summary

def clean_data(df):
    '''Clean and enrich vendor summary data'''
    df['GrossProfit'] = df['TotalSalesRupees'] - df['TotalPurchaseRupees']
    df['ProfitMargin'] = (df['GrossProfit'] / df['TotalSalesRupees']) * 100
    df['StockTurnover'] = df['TotalSalesQuantity'] / df['TotalPurchaseQuantity']
    df['SalestoPurchaseRatio'] = df['TotalSalesRupees'] / df['TotalPurchaseRupees']
    return df

if __name__ == '__main__':
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Vendor Summary Table.......')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data....')
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info('Ingesting data......')
    ingest_db(clean_df, 'vendor_sales_summary', conn)
    logging.info('Completed')

In [2]:
pd.read_sql_query("select * from vendor_sales_summary",conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseRupees,TotalSalesQuantity,TotalSalesRupees,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,30.20,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
1,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,31.06,500,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
2,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,40.29,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
3,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,46.52,1000,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
4,1001,Nestle Suppliers,Nestle,Biscuits 1kg,219.74,56.25,100,100,21974.0,1285,198505.3,3119.25,19850.53,15880.4,176531.3,88.930270,12.850000,9.033644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,214.20,250,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2062,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,237.10,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2063,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,256.32,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2064,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,274.68,1000,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932
2065,1001,Nestle Suppliers,Nestle,Noodles 100g,24.16,288.40,100,15,362.4,1285,198505.3,3119.25,19850.53,15880.4,198142.9,99.817436,85.666667,547.751932

In [5]:
import pandas as pd

# Read the SQL table into a DataFrame
df = pd.read_sql_query("SELECT * FROM vendor_sales_summary", conn)

# Save the DataFrame to a CSV file
df.to_csv("vendor_sales_summary.csv", index=False)